body {
  font-family: "Lato", sans-serif;
  font-size: 1em;
  line-height: 1.3;
  background-color: #f6f7f9;
  color: #404e5f;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

input::placeholder,
textarea::placeholder {
  color: #c4ca18;
  font-weight: 200; }

input:focus,
textarea:focus {
  outline: none;
  zoom: 105%; }

input:hover {
  zoom: 105%; }

input,
textarea {
  font-family: "Lato", sans-serif;
  font-size: 15pt;
  font-weight: 700;
  color: #c4ca18;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  appearance: none;
  width: 100%;
  padding: 5px; }

.visible {
  display: block; }

.hidden {
  position: absolute;
  left: -260px; }

.input-icons {
  width: 100%;
  margin-bottom: 10px; }

.icon {
  padding: 10px;
  color: green;
  min-width: 50px;
  text-align: center; }
